@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.MuiListItemText-primary {
  font-family: 'Reem Kufi Fun' !important;
  font-size: 18px !important;
  color: #ff6400;
}

.MuiDivider-root {
  background-color: #ff6400 !important;
}

.MuiListItem-button > .MuiListItemIcon-root > .MuiSvgIcon-root{
  fill: #ff6400 !important;
}

.MuiListItem-button:hover > .MuiListItemIcon-root > .MuiSvgIcon-root, .MuiListItem-button:active > .MuiListItemIcon-root > .MuiSvgIcon-root {
  fill: white !important;
}

.MuiListItem-button:hover > .MuiListItemText-root > .MuiListItemText-primary, .MuiListItem-button:active > .MuiListItemText-root > .MuiListItemText-primary {
  color: white !important;
}

.MuiListItem-button:hover, .MuiListItem-button:active {
  background-color: rgb(255, 100, 0, 0.9) !important;
}